@use '../bases/variables' as vars;


nav {
    background-color: vars.$color-dark;
  
    .size-img {
      width: 30px;
    }
  
    a {
      color:vars.$color-letter;
      text-decoration: none;
    }
  }