@import "variables";
.footer {
  background-color: black;
  color: #ccc;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;

  .footer-nav {
    margin-bottom: 1rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 2rem;

      li a {
        color: #e50914;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-social {
    margin-bottom: 1rem;

    .social-icon {
      font-size: 1.5rem;
      margin: 0 0.5rem;
      display: inline-block;
      transition: transform 0.3s, color 0.3s;

      &:hover {
        color: #e50914;
        transform: scale(1.2);
      }
    }
  }

  .copyright {
    font-size: 0.8rem;
    color: #777;
    margin-top: 1rem;
  }
}

// Responsivo
@media (max-width: 600px) {
  .footer-nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}