//Fondo de colores
$bg-black : black;
$bg-red : red;


//Variables de colores
$color-primario : black;
$color-secundario: red;

//texto color 
$clr-primario-text : red;
$clr-blanco-text : rgb(173, 166, 166);
$borde-raduis : 8px;



$color-fondo: #000; // negro
$color-texto: #fff;
$color-acento: #e50914; // rojo fuerte
$color-input-bg: #1a1a1a;
$borde-radius: 8px;
$espaciado: 1rem;


$color-fondo-footer: black;
$color-texto-footer: rgb(255, 255, 255);
$color-acento-footer: black;