// COLORES
$color-primary:#A6624D;
$color-secondary:#D9AC84; 
$color-letter: white;
$color-dark: #0C0D0A;

$bg-color-btn:#8C5535;

// TIPO DE LETRAS
$font:"Ancizar Sans", sans-serif;

// TAMAÑOS TITULO-SUBTITULO-PARRAFO MOBILE FIRST
$font-base-size: 1rem;
$font-title-size: 2.8rem;
$font-subtitle-size: 1.3rem;

