$color-primario: #0d6efd;
$color-secundario: #6c757d;
$color-fondo: #f8f9fa;
$color-texto: #212529;
$color-blanco: #ffffff;


$font-principal: 'Poppins', sans-serif;

$sombra-card: 0 4px 8px rgba(0, 0, 0, 0.1);
