node_modules/

.env
.env.local
.env.*.local
.env.sample.local

dist/
build/
out/
.next/
.vite/

coverage/
.nyc_output/

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.tmp
*.swp
*.bak

package-lock.json
yarn.lock
pnpm-lock.yaml

.storybook-out/
storybook-static/


*.zip
*.tar.gz
*.tgz
*.rar

.firebase/
.netlify/
.vercel/

*.code-workspace
*.pem
*.crt
*.key
